@model InputModel

@{
    var currentLab = labsContext.LabType;
    ViewData["Title"] = currentLab;
}

<script>
$(document).ready(function() {
    let isDecryptPressed;
    let decryptBtn = $('#decrypt');
    
        $('#clear').click(function (){
            document.querySelectorAll('input').forEach(function (input) {
                input.value = '';
                isDecryptPressed = false;
            });
            
            document.querySelectorAll('textarea').forEach(function (input) {
                input.value = '';
                isDecryptPressed = false;
            });
            
            document.querySelectorAll('span').forEach(function (input) {
                input.innerText = '';
                isDecryptPressed = false;
            });
            
            decryptBtn.prop('disabled', true);
        });
        
        $('#encrypt, #decrypt').click(function () {
            let input;
            let key = $('#key').val();
            
            if (this.id == 'decrypt') {
                input = document.getElementById('output').value;
                isDecryptPressed = true;
                decryptBtn.prop('disabled', true);
            }
            else {
                input = document.getElementById('input').value;
                isDecryptPressed = false;
            }

            $.ajax({
                url: "/@ViewContext.RouteData.Values["Controller"]/Index",
                type: "POST",
                data: { 
                    model : { Input : input, Key : key },
                    IsDecryptPressed : isDecryptPressed
                },
                dataType: "json",
                success: function (json) {
                    if (json.error == null) {
                        document.getElementById('input').value = json.input;
                        document.getElementById('output').value = json.output;
                        if (!isDecryptPressed) decryptBtn.prop('disabled', false);
                    }
                    else {
                        $('#shared-span').text(json.error);
                    }
                }
            });
        });
        if ('@string.IsNullOrEmpty(labsContext.LabProperties.KeyPattern)' === 'True') {
            $('#key').prop('disabled', true);
        }
    });
</script>

<div class="container">
        <div class="header">
            <h1>@ViewData["Header"]</h1>
        </div>
        <form class="form">
            <span id="shared-span" class="text-danger d-flex start-0 pb-1"></span>

            <div class="inputs">
                <div class="form-key">
                    <input id="key" asp-for="Key" autocomplete="off">
                    <label asp-for="Key"></label>
                    <span asp-validation-for="Key" class="text-danger"></span>
                </div>
                
                <div class="row pb-4 pt-3">
                    <div class="form-input col">
                        <textarea rows="6" id="input" asp-for="Input"></textarea>
                        <label asp-for="Input"></label>
                        <span id="input-span" asp-validation-for="Input" class="text-danger"></span>
                    </div>

                    <div class="form-output col">
                        <textarea rows="6" id="output" asp-for="Output" disabled></textarea>
                        <label asp-for="Output"></label>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <div class="row">
                    <button type="button" class="col border-0" id="encrypt">Зашифровать</button>
                    <button type="button" class="col border-0" id="decrypt" disabled>Расшифровать</button>
                    <button type="button" class="col-1 border-0" id="clear"><img src="assets/trash.svg" alt="X"></button>
                </div>
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
